body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #6e737f;
}

.container{
    max-width: 830px;
    margin: auto;
}

header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.secao-1{
    display: flex;
    margin-top: 100px;
   }

   .texto-apresentacao h2{
    font-size: 40px;
    color: black;
   }

   .apresentacao img{
    margin-right: 50px;
   }

   .secao-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 75px;
   }

   .secao-2 h2{
    color: black;
    text-transform: uppercase;
    text-align: center;
   }

   .topicos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
   }

   .topico{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #92a2e8;
    width: 200px;
    height: 180px;
    border-radius: 10px;
    color: black;
    margin-bottom: 40px;
   }

   .contpag{
    max-width: 1000px;
    margin: auto;
  }

  .menu{
    display: flex;
    flex-direction: row;
   }

   .voltar{
    margin-right: 850px;
    background-color: #92a2e8;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 25px;
    padding-right: 15px;
    padding-left: 15px;
    position: static;
    text-align: justify;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
   }

   .voltar a{
        color: #ffff;
        text-decoration: none;
        transition: 0.3s;
   }

   footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1C2029;
    height: 80px;
    padding-bottom: 40px;
    opacity: 0.5;
   }

   footer p{
    color: #ffff;
    font-size: 11px;
   }

   .dev{
    margin-top: 55px;
  }
